<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Cyjb.Alfred.Path</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>05F118BC-95E3-4385-9CA3-8210B14A9D2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08407005-847B-487E-883A-A25B62CAC23E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD967345-BC9A-498B-8D9A-53FBCD2AFD6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35E56A19-38D1-4665-A7A0-E2BD68528A8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05F118BC-95E3-4385-9CA3-8210B14A9D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91155C4B-6374-4F6B-B97B-9DD12087459B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00776FD-3307-4701-A7DB-6DF4821E9E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E00776FD-3307-4701-A7DB-6DF4821E9E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08407005-847B-487E-883A-A25B62CAC23E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD967345-BC9A-498B-8D9A-53FBCD2AFD6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CYJB</string>
	<key>description</key>
	<string>复制应用的当前文件(夹)路径</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>复制路径</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  const finder = Application('Finder');
  const selection = finder.selection();
  // 未选择时使用顶部访达的路径。
  if (selection.length === 0) {
    selection[0] = finder.insertionLocation();
  }
  return selection.map((item) =&gt; decodeURIComponent(item.url()).slice(7)).join('\n');
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05F118BC-95E3-4385-9CA3-8210B14A9D2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>path</string>
				<key>subtext</key>
				<string>复制访达中选中的文件(夹)路径</string>
				<key>text</key>
				<string>复制路径</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>35E56A19-38D1-4665-A7A0-E2BD68528A8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>08407005-847B-487E-883A-A25B62CAC23E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>path preview</string>
				<key>subtext</key>
				<string>复制正在预览的文件路径</string>
				<key>text</key>
				<string>复制路径 preview(预览)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91155C4B-6374-4F6B-B97B-9DD12087459B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  const preview = Application('Preview');
  const document = preview.document();
  if (document.length &gt; 0) {
    return document[0].path();
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E00776FD-3307-4701-A7DB-6DF4821E9E40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BD967345-BC9A-498B-8D9A-53FBCD2AFD6D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>复制应用的当前文件(夹)路径，支持：

- 访达
- 预览</string>
	<key>uidata</key>
	<dict>
		<key>05F118BC-95E3-4385-9CA3-8210B14A9D2E</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>08407005-847B-487E-883A-A25B62CAC23E</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>35E56A19-38D1-4665-A7A0-E2BD68528A8D</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>91155C4B-6374-4F6B-B97B-9DD12087459B</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>BD967345-BC9A-498B-8D9A-53FBCD2AFD6D</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>E00776FD-3307-4701-A7DB-6DF4821E9E40</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/CYJB/Alfred-Workflow-Path</string>
</dict>
</plist>
